.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: #c9d1d9;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #8b949e;
  }
  /*  /* background-color: #10198e;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
  }
  
  .btn-resume:hover {
    background-color: #2315df; */ 
  .contact-form button {
    background-color: #10198e;
    color: white;
    padding: 12px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #2315df;
  }
  

  .contact-links {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  